
// ============================================================
// CORE 
// ============================================================

$backgroundColor: $col-lightgrey;
$containerWidth: 1200px;
$containerPadding: 0 $baseline;
$containerCentering: true;
$includeBorderBox: true;


@if $includeBorderBox {

	*, *:before, *:after {

		@include box-sizing(border-box);

	}

}

html, body {

	width: 100%;
	height: 100%;
	overflow-x: hidden;
	color: $col-black;

}

body {

	background: $backgroundColor;
	position: relative;

}

.wrapper {

	width: 100%;
	max-width: $containerWidth;
	padding: $containerPadding;

	@if $containerCentering {

		margin: 0 auto;
		
	}

}

//@include transKeyframes(fadein,ease,0.2s,10,0.05s);


// ============================================================