/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../../dev/sass/partials/globals/_typography.scss */
html {
  font-size: 100%;
}

/* line 15, ../../dev/sass/partials/globals/_typography.scss */
body, input, textarea, select, p, a {
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
  color: #212328;
  font-family: arial, sans-serif;
}

/* line 23, ../../dev/sass/partials/globals/_typography.scss */
h1, h3, h4, h5, h6, p {
  margin-bottom: 13.33333px;
  font-family: "Raleway", arial, sans-serif;
  font-weight: 600;
}

/* line 31, ../../dev/sass/partials/globals/_typography.scss */
h1, .h1, .alpha {
  text-align: center;
  font-size: 48px;
  font-size: 3em;
  line-height: 72px;
}

/* line 38, ../../dev/sass/partials/globals/_typography.scss */
h2, .h2, .beta {
  font-size: 32px;
  font-size: 2em;
  line-height: 48px;
  color: #212328;
}

/* line 45, ../../dev/sass/partials/globals/_typography.scss */
h3, .h3, .gamma {
  font-size: 20px;
  font-size: 1.25em;
  line-height: 30px;
}

/* line 51, ../../dev/sass/partials/globals/_typography.scss */
h4, .h4, .delta {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 27px;
}

/* line 57, ../../dev/sass/partials/globals/_typography.scss */
h5, .h5, .epsilon,
h6, .h6, .zeta {
  font-size: 17px;
  font-size: 1.0625em;
  line-height: 25.5px;
}

/* line 64, ../../dev/sass/partials/globals/_typography.scss */
.mega {
  font-size: 72px;
  font-size: 4.5em;
  line-height: 108px;
}

/* line 71, ../../dev/sass/partials/globals/_typography.scss */
small,
.tiny {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 21px;
}

/* line 78, ../../dev/sass/partials/globals/_typography.scss */
strong {
  font-weight: bold;
}

/* line 84, ../../dev/sass/partials/globals/_typography.scss */
em {
  font-style: italic;
}

/* line 15, ../../dev/sass/partials/globals/_core.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../../dev/sass/partials/globals/_core.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  color: #212328;
}

/* line 32, ../../dev/sass/partials/globals/_core.scss */
body {
  background: #f8f8f8;
  position: relative;
}

/* line 39, ../../dev/sass/partials/globals/_core.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/* line 13, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-left: 7px solid #17ad8a;
  padding: 5px 20px;
  width: 100%;
}
@media (min-width: 840px) {
  /* line 13, ../../dev/sass/partials/globals/_blockquotes.scss */
  blockquote {
    max-width: 60%;
  }
}
/* line 26, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote:before, blockquote:after {
  font-size: 26px;
  font-size: 1.625em;
  line-height: 39px;
  color: #80807e;
  font-family: georgia;
  display: inline;
  line-height: 1px;
  vertical-align: -5px;
}
/* line 38, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote:before {
  content: open-quote;
}
/* line 44, ../../dev/sass/partials/globals/_blockquotes.scss */
blockquote:after {
  content: close-quote;
}

/* line 23, ../../dev/sass/partials/globals/_forms.scss */
.btn,
input,
button,
select,
textarea {
  margin-bottom: 10px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #80807e;
}
/* line 36, ../../dev/sass/partials/globals/_forms.scss */
.btn:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* line 45, ../../dev/sass/partials/globals/_forms.scss */
input[type="text"], textarea,
input[type="date"],
input[type="email"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  max-width: 480px;
  padding: 10px;
}

/* line 58, ../../dev/sass/partials/globals/_forms.scss */
input[type="number"] {
  max-width: 120px;
  display: block;
  width: 100%;
  padding: 10px;
}

/* line 66, ../../dev/sass/partials/globals/_forms.scss */
select {
  display: block;
  padding: 10px;
}

/* line 72, ../../dev/sass/partials/globals/_forms.scss */
textarea {
  display: block;
}

/* line 79, ../../dev/sass/partials/globals/_forms.scss */
textarea {
  resize: vertical;
  min-height: 260px;
}

/* line 86, ../../dev/sass/partials/globals/_forms.scss */
.btn,
button,
input[type="submit"] {
  border: none;
  width: auto;
  padding: 5px 10px;
  background: #2b78c4;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
  font-family: arial, sans-serif;
}
/* line 99, ../../dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  color: white;
  background: #d13e36;
  text-decoration: none;
}
/* line 107, ../../dev/sass/partials/globals/_forms.scss */
.btn.secondary,
button.secondary,
input[type="submit"].secondary {
  background: #2b78c4;
  color: white;
}
/* line 112, ../../dev/sass/partials/globals/_forms.scss */
.btn.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover {
  color: white;
  background: #c4c416;
}
/* line 121, ../../dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

/* line 7, ../../dev/sass/partials/globals/_images.scss */
.img-half {
  width: 50%;
  height: auto;
  display: block;
}

/* line 15, ../../dev/sass/partials/globals/_images.scss */
.img-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 10, ../../dev/sass/partials/globals/_links.scss */
a {
  text-decoration: none;
  color: #2b78c4;
}
/* line 27, ../../dev/sass/partials/globals/_links.scss */
a.no-td:hover {
  text-decoration: none;
}

/* line 6, ../../dev/sass/partials/globals/_lists.scss */
ul, ol {
  margin-bottom: 10px;
}
/* line 12, ../../dev/sass/partials/globals/_lists.scss */
ul.inline-list li, ol.inline-list li {
  display: inline-block;
  margin-right: 10px;
}
/* line 23, ../../dev/sass/partials/globals/_lists.scss */
ul.stacked-list li, ol.stacked-list li {
  display: block;
  margin-bottom: 10px;
}

/* line 2, ../../dev/sass/partials/globals/_svg.scss */
svg {
  width: 30px;
  height: 30px;
}
/* line 7, ../../dev/sass/partials/globals/_svg.scss */
svg path {
  width: 30px;
  height: auto;
}

/* line 12, ../../dev/sass/partials/globals/_tables.scss */
table {
  width: 100%;
}
/* line 16, ../../dev/sass/partials/globals/_tables.scss */
table th, table td {
  border-bottom: 1px solid #80807e;
  padding: 10px;
  width: 25%;
}

/* line 5, ../../dev/sass/partials/modules/_app-layout.scss */
.app-header {
  padding: 80px 0;
}

/* line 6, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .metronome-btn.active {
  background: green;
}
/* line 12, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .timeline {
  width: 100%;
  display: flex;
}
/* line 17, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .timeline li {
  width: 100%;
  background: #b8b8b8;
  height: 3px;
  position: relative;
}
/* line 24, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .timeline li .percentage {
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  background: #d13e36;
  -webkit-animation-name: percentage;
  animation-name: percentage;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
/* line 36, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .timeline li .dot {
  background: #b8b8b8;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  bottom: -8px;
  left: 0;
}
/* line 46, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .timeline li .dot.active {
  background: #d13e36;
}
/* line 54, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .time-signatures {
  border: 1px solid #212328;
  width: 200px;
  position: relative;
}
/* line 60, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .time-signatures .dropdown-select {
  padding: 10px 20px;
}
/* line 65, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .time-signatures .dropdown {
  position: absolute;
  top: 45px;
  left: -1px;
  right: -1px;
  background: white;
  border-left: 1px solid #212328;
  border-right: 1px solid #212328;
  border-bottom: 1px solid #212328;
}
/* line 76, ../../dev/views/song/partials/metronome/metronome.scss */
.metronome .time-signatures .dropdown a {
  display: block;
  padding: 10px 5px;
}

@-webkit-keyframes percentage {
  /* line 88, ../../dev/views/song/partials/metronome/metronome.scss */
  0% {
    width: 0%;
  }

  /* line 89, ../../dev/views/song/partials/metronome/metronome.scss */
  100% {
    width: 100%;
  }
}
@-moz-keyframes percentage {
  /* line 93, ../../dev/views/song/partials/metronome/metronome.scss */
  0% {
    width: 0%;
  }

  /* line 94, ../../dev/views/song/partials/metronome/metronome.scss */
  100% {
    width: 100%;
  }
}
@keyframes percentage {
  /* line 98, ../../dev/views/song/partials/metronome/metronome.scss */
  0% {
    width: 0%;
  }

  /* line 99, ../../dev/views/song/partials/metronome/metronome.scss */
  100% {
    width: 100%;
  }
}
/* line 6, ../../dev/sass/misc/_helpers.scss */
.block {
  display: block;
}

/* line 12, ../../dev/sass/misc/_helpers.scss */
.inline {
  display: inline-block;
}

/* line 18, ../../dev/sass/misc/_helpers.scss */
.pull-left {
  float: left;
}

/* line 24, ../../dev/sass/misc/_helpers.scss */
.pull-right {
  float: right;
}

/* line 30, ../../dev/sass/misc/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 36, ../../dev/sass/misc/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 42, ../../dev/sass/misc/_helpers.scss */
.browsehappy {
  color: white;
  background: red;
  width: 100%;
  text-align: center;
}

/* line 51, ../../dev/sass/misc/_helpers.scss */
.mb {
  margin-bottom: 10px;
  display: block;
}

/* line 58, ../../dev/sass/misc/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 64, ../../dev/sass/misc/_helpers.scss */
.skip-link {
  visibility: hidden;
  position: absolute;
  left: -999999px;
  top: -99999px;
}
/* line 71, ../../dev/sass/misc/_helpers.scss */
.skip-link:focus {
  position: static;
  visibility: visible;
}

/* line 80, ../../dev/sass/misc/_helpers.scss */
.padding {
  padding: 20px;
}

/* line 86, ../../dev/sass/misc/_helpers.scss */
.hidden {
  display: none;
}

@media print {
  /* line 11, ../../dev/sass/misc/_print.scss */
  *,
  *:before,
  *:after {
    color: #000;
    text-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  /* line 22, ../../dev/sass/misc/_print.scss */
  a {
    text-decoration: underline;
  }
  /* line 27, ../../dev/sass/misc/_print.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 35, ../../dev/sass/misc/_print.scss */
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  /* line 50, ../../dev/sass/misc/_print.scss */
  a[href^="#"]:after, a[href*="#"]:after, a[href^="javascript:;"]:after, a[href*="javascript:;"]:after {
    content: '';
  }

  /* line 60, ../../dev/sass/misc/_print.scss */
  input[type="submit"] {
    display: none;
  }

  /* line 78, ../../dev/sass/misc/_print.scss */
  footer {
    display: none;
  }
}
