.slider {

	margin: $baseline*2 0;

	.inc, .dec {

		display: inline-block;
		background: $col-red;
		border-radius: 50%;
		width: 24px;
		height: 24px;
		color: $col-white;
		text-align: center;
		margin: 0 3px;
	}
}