
<div class="metronome" ng-controller="metronome">

	<ul class="timeline">
		<li ng-repeat="i in getBeats(beats) track by $index">
			<span class="percentage" 
			      ng-show="firstMeasure == $index && run" 
			      ng-attr-style="animation-duration:{{interval}}ms; 
			                     -webkit-animation-duration:{{interval}}ms;
			                     -moz-animation-duration:{{interval}}ms;"></span>
			<span class="dot" ng-class="{active: firstMeasure == $index && run}"></span>
		</li>
	</ul>

	<form action="">

		<div ng-include="'ng-views/slider.html'"></div>

		<label for="time-signature">Time signature:</label> <!-- Should this be a label? -->
		<div class="time-signatures">
			<a href="javascript:;" 
			   ng-click="showTimeSignatures = !showTimeSignatures" 
			   ng-bind-html="timeSignatureText"
			   class="dropdown-select block"></a>

			<div class="dropdown" ng-if="showTimeSignatures">
				<a href="javascript:;" 
				   ng-repeat="timeSig in timeSignatures"
				   ng-click="getTimeSignature(timeSig.beats, timeSig.bars, timeSig.time)" 
				   ng-bind-html="timeSig.time"></a>
			</div>
		</div>

		<button ng-click="click()" ng-if="bpm" ng-class="{active:run}" class="metronome-btn">{{metronomeBtnText}}</button>
	</form>

	<!-- {{bpm}} 
	{{firstMeasure}}
	{{interval}} -->
	
</div>

