


<div ng-class="{active:pulsing}" class="pulser"></div>

<ul class="timeline" ng-class="{active:pulsing}">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<form action="">

	<label for="tempo">Bpm:</label>
	<input type="number" 
		   min-length="2" 
		   max-length="3" 
		   ng-model="bpm" 
		   name="tempo" 
		   id="tempo">

	<label for="time-signature">Time signature:</label>
	<div class="time-signatures">
		<a href="javascript:;" ng-click="showTimeSignatures = !showTimeSignatures" class="dropdown-select block">
			Select
		</a>
		<div class="dropdown" ng-if="showTimeSignatures">
			<a href="javascript:;" 
			   ng-repeat="timeSig in timeSignatures"
			   ng-click="getTimeSignature(timeSig.beats, timeSig.bars)" 
			   ng-bind-html="timeSig.time">
			</a>
		</div>
	</div>

	<button ng-click="click()" ng-if="bpm" ng-class="{active:running}" class="metronome-start">Start</button>

</form>

{{run}}
{{bpm}}
{{pulsing}}
{{selectedTimeSignature.beats}}
{{selectedTimeSignature.bars}}

<p>Show dropdown? {{showTimeSignatures}}</p>