
.metronome {

	.metronome-btn {

		&.active {

			background: green;
		}
	}

	.timeline {

		width: 100%;
		display: flex;

		li {

			width: 100%;
			//background: $col-darkgrey;
			height: 3px;
			position: relative;

			.percentage {

				width: 100%;
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 3px;
				//background: $col-red;
				//@include animation(percentage, linear);
			}

			.dot {

				//background: $col-darkgrey;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				position: absolute;
				bottom: -8px;
				left: 0;

				&.active {

					//background: $col-red;
				}
			}
		}
	}

	.time-signatures {

		//border: 1px solid $col-black;
		width: 200px;
		position: relative;

		.dropdown-select {

			//padding: $baseline/2 $baseline;
		}

		.dropdown {

			position: absolute;
			top: 45px;
  			left: -1px;
  			right: -1px;
			//background: $col-white;
			//border-left: 1px solid $col-black;
			//border-right: 1px solid $col-black;
			//border-bottom: 1px solid $col-black;

			a {

				display: block;
				//padding: $baseline/2 $baseline/4;
			}
		}
	}
}

// Percentage animation
@-webkit-keyframes percentage {

	0% { width: 0%; }
	100% { width: 100% }
}
@-moz-keyframes percentage {

	0% { width: 0%; }
	100% { width: 100% }
}
@keyframes percentage {

	0% { width: 0%; }
	100% { width: 100% }
}
